# Credersi-vend Admin
backend/lib
**/*.properties
backend/src/main/resources/static
backend/target
frontend/public/build
routes/dist
routes/doc
routes/target

# Third-party
.metadata
.mvn
.settings
.vscode
node_modules/

frontend/cypress/